
*.user
*.vcxproj
*.filters
*.sln
*.ipch
*.db-shm
*.db
*.vsidx
*.json
*.sqlite
.vs/Bombs/v17/.wsuo
*.opendb
*.db-wal
Bombuli/.vs/Bombuli/v17/.suo
*.recipe
*.ilk
*.log
*.tlog
*.pdb
*.exe
Bombuli/Build/Makefile
Bombuli/Build/CMakeFiles/Makefile2
*.cmake
*.yaml
*.check_cache
*.a
*.rsp
Bombuli/Build/CMakeFiles/Bombs.dir/progress.make
*.d
*.obj
*.make
*.ts
*.internal
*.idb
*.bin
*.c
Bombuli/Build/CMakeCache.txt
Bombuli/Build/CMakeFiles/Bombs.dir/link.txt
Bombuli/Build/CMakeFiles/TargetDirectories.txt
Bombuli/Build/CMakeFiles/3.27.7/CompilerIdCXX/CMakeCXXCompilerId.cpp
